
.about-container {
  padding: 20px;
  background-color: #fff; 
  transition: background-color 0.3s, color 0.3s;
  color: #000; 
}

.about-container.dark {
  background-color:black !important; 
  color: #fff; 
}

.about-container.light {
  background-color: #f4f4f4; 
  color: #000; 
}

h1, h3, h4, p {
  color: inherit; 
}

.post-item {
  background-color: #fff;
  border-radius: 8px;
  padding: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.post-item h1 {
  font-size: 18px;
  font-weight: bold;
  color: black;
}

.post-item p {
  font-size: 14px;
  color: black;
}
.post-item h2{
  color: black;
}
